<mat-card class="navbar">

    <div class="textnavbar">Dashboard |
        <div class="stat">Test Cases</div>
    </div>
</mat-card>
<br>
<h2 class="h2">Test Cases Within This Session</h2>
<mat-card class="flexing">
    <mat-card class="item">
        <div class="testdiv" *ngFor="let testsession of testsessions">
            <p class="text">| Test Case #{{testsession.testrank}} | {{testsession.testname}} | Test Status :
                <span class="passed">{{testsession.teststatus}}</span> | Created at {{testsession.startedAt}} <button class="buttonimg" (click)="viewtest(testsession.sessionid,testsession.testrank)"></button></p>
            <br></div>

    </mat-card>


</mat-card>