<div class="wrapper">

    <div class="container">
        <h1>Welcome</h1>

        <form class="form">
            <input type="button" placeholder="Username" value="Tests with Screenshots" (click)="gotoscreenshots()">
            <input type="button" placeholder="Password" value="Tests with VideoRecording" (click)="gotovideo()">

        </form>
    </div>

    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>