<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>C E D</mat-card-title>
        <mat-card-subtitle>Service provider in emergency assistance, damage management and repair services.</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/ced.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            CED has a clear vision: we protect and preserve what is of value to people. Within the fields of Property, Mobility and Vitality, we, with 1,500 employees in 14 European countries, together deliver on the promise to our customers. Every day again. The
            strength of CED is our integrated offering, from prevention to recovery.
        </p>
    </mat-card-content>

</mat-card>