<img class="imge" src="assets/issues.png">
<br>
<h1>
    Submit an Issue related to the test</h1>
<form class="example-form" (submit)="onSubmit()">
    <div class="form-group">
        <textarea type="text" class="form-control" id="issuetext" required [(ngModel)]="issue.issuetext" name="issuetext" aria-required="true"></textarea>
    </div>
    <button *ngIf="disable==='able'" type="submit" mat-stroked-button color="accent" class="btn-block">Send</button>
    <button *ngIf="disable==='disable'" type="submit" mat-stroked-button color="accent" class="btn-block" disabled>Send</button>
</form>