<mat-card class="navbar">

    <div class="textnavbar">
        <div class="stat">Overview</div> | Test With Video Section
    </div>
</mat-card>
<br>
<mat-card class="boxflexing">
    <mat-card class="flexing">
        <div>
            <div class="circle">
                {{allsessions }}
            </div>
            <div class="textfont">All Time Sessions</div>


            <br>
            <br>

            <div class="circle">
                {{thisyearsession }}
            </div>
            <div class="textfont">Sessions Created This Year</div>
            <br>
            <br>
            <div class="circle">
                {{thismonthsession }}
            </div>

            <div class="textfont">Sessions Created This Month</div>
            <br>
            <br>
            <div class="circle">
                {{todaysession }}
            </div>

            <div class="textfont">Sessions Created Today</div>
            <br>
            <br>
            <div class="circle">
                {{failed }}
            </div>

            <div class="textfont">Failed Tests</div>
        </div>

        <div class="tests">
            <div class="circle">
                {{alltests }}
            </div>
            <div class="textfont">All Time Tests</div>


            <br>
            <br>

            <div class="circle">
                {{thisyeartest }}
            </div>
            <div class="textfont">Tests Executed This Year</div>
            <br>
            <br>



            <div class="circle">
                {{thismonthtest }}
            </div>

            <div class="textfont">Tests Executed This Month</div>
            <br>
            <br>



            <div class="circle">
                {{todaytest }}
            </div>

            <div class="textfont">Tests Executed Today</div>
            <br>
            <br>

            <div class="circle">
                {{passed }}
            </div>

            <div class="textfont"> Passed Tests</div>




        </div>





    </mat-card>
</mat-card>