<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <img class="example-full-width" src="/assets/output-onlinepngtools.png">
        <mat-card-header>
            <mat-card-title>Register</mat-card-title>
        </mat-card-header>
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>Choose a role...</mat-label>
            <div [formGroup]="formselectedRole">
                <mat-select [(ngModel)]="selectedRole" formControlName="selectedRole" aria-placeholder="choose">
                    <mat-option value="Admin">Admin</mat-option>
                    <mat-option value="User">User</mat-option>
                </mat-select>
            </div>
        </mat-form-field>

        <form class="example-form" [formGroup]="service.formModel" (submit)="onSubmit()">
            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="UserName" formControlName="userName" required>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" formControlName="email" required>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Phonenumber" formControlName="Phonenumber" required>
                </mat-form-field>

                <div formGroupName="Passwords">
                    <mat-form-field class="example-full-width">
                        <input (click)="openSnackBar(message, action)" type="password" matInput placeholder="Password" formControlName="password" required>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input type="password" matInput placeholder="ConfirmPassword" formControlName="ConfirmPassword" required>
                    </mat-form-field>
                </div>

            </mat-card-content>


            <button type="submit" mat-stroked-button color="accent" [disabled]="!service.formModel.valid || !formselectedRole.valid" class="btn-block">Register</button>

        </form>
        <br>
        <a style="font-weight: bold;" routerLinkActive="list-item-active" routerLink="/login">Login</a>
    </mat-card>
</div>